html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto';
  font-size: 22px;
  background: linear-gradient(#1abc9c, #0080FF);
  height: 100%;
}



/* Media Query for low resolution  Tablets, Ipads */
@media (max-width: 1024px) {
  main {
    padding: 60px 100px;
  }
}


/* Media Query for Laptops and Desktops */
@media (min-width: 1024px) {
  main {
    padding: 60px 350px;
  }
}

#header {
  padding: 60px;
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: 'Roboto';
}

#rcorners {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
}

.form-field {
  padding: 10px 0px;
}