{% extends "subscribers/base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div id="search-form">
    <form method="post">
        {% csrf_token %}

        <br><h2>Search</h2>

        <div id="id_search_type" class="form-field">
            <div id="search_type-field" name="search-type-selector" class="form-check form-check-inline">
                {% for choice in form.search_type %}
                    <input id="{{ choice.id_for_label }}" type="radio" name="search_type" value="{{ choice.data.value }}"
                        class="form-check-input radio-inline" 
                        {% if form.search_type.errors %}
                            {% if form.search_type.errors.0 == choice.data.value %}checked{% endif %} 
                        {% else %}
                            {% if form.search_type.initial == choice.data.value %}checked{% endif %}
                        {% endif%}>
                        
                    <label for="{{ choice.id_for_label }}" class="form-check-label radio-inline">
                        <span>By {{choice.choice_label}}</span>
                    </label><br>
                {% endfor %}
            </div>
        </div>

        <div id="email-field" class="form-field">
            {{ form.email|as_crispy_field  }}
        </div>

        <div id="phone_number-field" class="form-field">
            {{ form.phone_number|as_crispy_field }}
        </div>

        <div id="age_limit-field" class="form-field">
            {{ form.age_limit|as_crispy_field }}
        </div>

        <div id="pincode-field" class="form-field">
            {{ form.pincode|as_crispy_field }}
        </div>

        <div id="state-field" class="form-field">
            {{ form.state|as_crispy_field }}
        </div>

        <div id="district-id-field" class="form-field">
            {{ form.district_id|as_crispy_field }}
        </div>

        <!-- <div id="district-field">
            <div id="state-field" class="form-field">
                <label>State</label>
                <select id="state-select" class="select form-control"></select>
            </div>
                        
        </div> -->
        <br>

        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
        <p id="submit-message">By submitting this form, you agree to the privacy policy.</p>
    </form>
    
    <img class="bg-image" id="phone" src="/static/img/undraw_Personal_email_re_4lx7.svg" alt="">
    <img class="bg-image" id="notif" src="/static/img/undraw_Confirmed_re_sef7213.svg" alt="">
</div>

{% endblock %}